.nav-bar {
  width: 25em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
}

.nav-item {
  display: flex;
  font-size: 2.5em;
  font-family: sans-serif;
}

.vertical {
  flex-direction: column;
  align-items: center;
}

.horizontal {
  flex-direction: row;
  align-items: center;
}

.about-words {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}

#about-me {
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
}

#about-me img {
  border-radius: 50%;
}

#my-name {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

#my-desc {
  font-size: .75em;
}

#nav-buttons {
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}

.nav-button {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  height: 100%;
  width: 30%;
  border: .05em solid black;
  border-radius: .1em;
  padding: 2% 5%;
}

.nav-button:hover {
  background-color: #000;
  color: #FFF;
}

#fa-links {
  width: 40%;
  justify-content: space-around;
}

i.inside {
  color: black;
}

i.box {
  background-color: #FFF;
  padding: 0px;
}
