/*Across everything*/
body {
  font-size: 1em;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

text {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

.header {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

.container {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.App {
  position: relative;
}

/*LeftBar*/
.info-bar {
  width: 30%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
}

.info-bar-item {
  flex: 0 1 auto;
  align-items: center;
}

#fa-links {
  width: 50%;
  justify-content: space-around;
}

.bio-link {
  font-size: 2em;
}

.info-bar img {
  min-width: 90%;
  max-width: 90%;
  border-radius: 50%;
}

#info-bar-sub-cont {
  align-items: center;
}


/*View*/

.view {
  flex: 0 1 70%;
  width: 70%;
  height: 100%;
  min-width: 650px;
  align-items: center;
  position: fixed;
  right: 0;
}

#filter-options {
  flex: 0 1 auto;
  min-height: 15%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: white;
}

.filter-option {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-option:hover {
  cursor: pointer;
  border-bottom: solid black 1px;
}

.main-content {
  flex: 0 1 auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.main-content * {
  max-width: 100%;
}

.projects {
  flex: 0 1 calc(100% - 125px);
  align-items: center;
}

.project {
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7.5%;
  width: 80%;
}

.project img{
  padding: 5% 0;
}

.image-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-info {
  flex: 0 1 auto;
  justify-content: space-between;
  align-items: center;
}

.project-desc {
  flex: 0 1 auto;
  padding-bottom: 2.5%;
}

.project-meta {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.git-link {
  flex: 1 0 30%;
  display: flex;
  align-self:  flex-start;
}

.project-tools {
  flex: 0 1 50%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.project-tool {
  padding: 0 6px;
}

.bordered {
  flex: 0 1 auto;
  border: 1px solid black;
  border-radius: .25em;
  padding: 2px 4px;
  margin: 2px;
}

.blog_post {
  width: 90%;
}

.small {
  font-size: .7em;
}

@media only screen and (max-width: 850px) {
  .App {
    flex-direction: column-reverse;
    height: 100%;
    position: fixed;
  }

  .view {
    flex: 0 1 auto;
    display: flex;
    width: 100%;
    min-width: 320px;
    position: static;
    padding-bottom: 8.5%;
  }

  #filter-options {
    flex: 0 1 auto;
    min-height: 10%;
    padding: 2% 0;
    background: #BFBFBF;
    font-size: .7em;
    position: static;
  }

  .main-content {
    flex: 0 1 auto;
    overflow-y: scroll;
    font-size: .7em;
    min-width: 320px;
  }

  #info-bar {
    flex: 0 1 auto;
    width: 100%;
    min-width: 320px;

    background: white;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    display: flex;
    background: #BFBFBF;
    z-index: 99;
  }

  #info-bar-sub-cont {
    flex: 0 1 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: .7em;
  }

  #info-bar-sub-cont img {
    display: none;
  }

  #fa-links {
    justify-content: center;
  }

  .bio-link {
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 475px) {
  .git-link {
    font-size: .9em;
  }
}
